.video-player{
    width: 640px;;
    margin-bottom: 2em;
    margin-top: 1em;
}

.comment-list{
    margin-top: 20px;
    margin-bottom: 20px;
}

.comment-form{
    display: flex;
    justify-content: left;
    align-items: left;
}

/* .related-videos{
    margin: 1em;
} */

.top-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;;
}

.bottom-flex {
    width: 1215px;
}

.top-flex-r {
    margin-left: 50px;
    height: 360px;
}

.video-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}