.video-player{
    width: 640px;;
    margin-bottom: 2em;
    margin-top: 1em;
}

.comment-list{
    border: 1px;
}

.comment-form{
    font-size: medium;
}

/* .related-videos{
    margin: 1em;
} */

.top-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;;
}

.bottom-flex {
    width: 1215px;
}

.top-flex-r {
    margin-left: 50px
}

.video-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}